.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 100%;
}

.heading {
  font-size: 35px;
  text-align: center;
}

.inputBox {
  padding: 17px 13px;
  display: flex;
  flex-direction: column;
  background-color: #393e46;
  width: 420px;
  border-radius: 10px;
  gap: 12px;
  padding: 15px;
}

.input {
  background-color: transparent;
  border: 1px white solid;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  color: white;
  outline: none;
}

.forgotPassword {
  font-size: 15px;
  text-align: right;
  cursor: pointer;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.login {
  width: min-content;
  padding: 6px 30px;
  background-color: #00adb5;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.register {
  font-size: 15px;
  text-align: center;
}

.register span {
  cursor: pointer;
}
.register span:hover {
  text-decoration: underline;
}
