.resultScreen {
  width: 100%;
  padding: 55px 35px;
  overflow-y: scroll;
}

.heading {
  font-size: 35px;
}

.sectionHeading {
  padding-top: 50px;
  padding-bottom: 18px;
  display: flex;
}

.text {
  color: #c7c7cc;
  font-size: 20px;
  width: 230px;
}

.line {
  padding: 0px 18px;
  width: 100%;
}

.dropdownArrow {
  cursor: pointer;
}

.sectionDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
