.testScreen {
  width: 100%;
  padding: 55px 35px;
  overflow-y: scroll;
}

.heading {
  font-size: 35px;
  padding-bottom: 30px;
}

.answerScreen {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 25px;
}

.instructions {
  color: #757575;
}

.question {
  color: black;
  padding-bottom: 25px;
}

.long textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.nextButton {
  padding-top: 25px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nextButton button {
  background-color: #03c988;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transition: all 0.3s ease;
  border-color: #007ac1;
}

.checkbox input:checked + .checkmark {
  background-color: #00c853;
  border-color: #00c853;
}

.checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox input:checked + .checkmark::after {
  opacity: 1;
}
